<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card orange">
      <div class="card-content white-text">
        <div class="card-title center">
          Nice to meet you!
        </div>
        <p>
          My name is Nicolae. I am a full stack web developer living in Sunnyvale, Ca. I like to travel
          and my favorite place is Kings Canyon.
          Apart from programming languages, I speak English, Romanian,
          and a little French.
        </p>
        <br/>
        <div class="center">
          <p class="flow-text">Click the images to learn more about me.</p>
          <br/>
          <p>Otherwise, you can also view my</p>
          <p class="flow-text">competencies below.</p>
        </div>
      </div>
    </div>
  </div>
</div>
