@import url(https://fonts.googleapis.com/css?family=Rubik);

// About Page
.card p {
  line-height: 1.5em;
}

.card .btn {
  margin-bottom: 1em;
}

.about-dates {
  color: #4fc3f7;
}

.points {
  opacity: 0;
}