.fa-facebook, .fa-linkedin, .fa-github, .fa-envelope, .fa-bars {
  color: white;
}

.copyright {
  padding-left: 60px;
}

.kelsonic {
  letter-spacing: -2px;
  margin-bottom: 5px;
}

nav .kelsonic {
  width: 5em;
  padding-top: 0.25em;
}

.fa-laptop {
  color: black;
}

footer.page-footer {
  margin-top: 0px !important;
}

#footer-button a {
  color: white;
}

.footer-copyright {
  font-size: 0.7em;
}