<title>Nicolae - Full Stack Web Developer</title>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<!--Import Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>

<!--Import Font Awesome Icons-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<%= csrf_meta_tags %>

<!--Site Description for SEO-->
<meta name="description" content="Nicolae is a Full Stack Web Developer in San Francisco.
View his projects, video games, or his competencies here.">

<link rel="icon" href="assets/images/N2-Favicon.png">
